@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

::selection {
  background-color: #000000;
   color: tomato;
}
body {
    height: 100vh;
    background: #ebebeb;
    background-image: linear-gradient(to bottom right,#FDFCFB,#e2d1c3);
    position: relative;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}


.ScriptHeader {
    float: left;
    width: 100%;
    padding: 2em 0;
}
.rt-heading {
    margin: 0 auto;
	text-align:center;
}
.Scriptcontent{
	line-height:28px;
}
.ScriptHeader h1{
	font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
    color: #6a4aed;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;

}
.ScriptHeader h2 {
    color: #312c8f;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0 0;
    line-height: normal;

}
.ScriptHeader h1 span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;

}
.ScriptHeader span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
}


.rt-container {
	margin: 0 auto;
	padding-left:12px;
	padding-right:12px;
}
.rt-row:before, .rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}


@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6, .col-rt-12 {
    width: 100%;
  }

}

@media (min-width: 1200px) {
	.rt-container {
		width: 1170px;
	}
	.col-rt-1 {
		width:16.6%;
	}
	.col-rt-2 {
		width:30.33%;
	}
	.col-rt-3 {
		width:50%;
	}
	.col-rt-4 {
		width: 67.664%;
	}
	.col-rt-5 {
		width: 83.33%;
	}


}

@media only screen and (min-width:240px) and (max-width: 768px){
	 .ScriptTop h1, .ScriptTop ul {
		text-align: center;
	}
	.ScriptTop h1{
		margin-top:0;
		margin-bottom:15px;
	}
	.ScriptTop ul{
		 margin-top:12px;
	}

	.ScriptHeader h1,
	.ScriptHeader h2,
	.scriptnav ul{
		text-align:center;
	}
	.scriptnav ul{
		 margin-top:12px;
	}
	#float-right{
		float:none;
	}

}


h1, h2 {
  line-height: 1.2;
}

a {
  display: inline-block;
  text-decoration: none;
  color: tomato;
}


/*ends base*/

.container {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
}


/*ends basic*/

header {
  width: 100%;
  height: auto;
  padding: 50px 0 30px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

header .container {
  width: 1600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header .logo h2 {
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: tomato;
  cursor: pointer;
}

header .logo h2 span {
  display: inline-block;
  width: 7px;
  height: 12px;
  background-color: #353F48;
  margin-right: 3px;
  transition: .3s;
}

header .logo h2:hover span {
  background-color: tomato;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

header nav ul {list-style: none;}

header nav ul li {display: inline-block;}

header nav ul li a {
  font-size: .9em;
  font-weight: 600;
  margin: 0 15px;
  padding: 0 5px 3px;
  border-bottom: 2px solid transparent;
  transition-duration: .3s;
  transition-property: color, border-bottom;
}

header nav ul li a:hover {
  border-bottom: 2px solid #353F48;
  color: #353F48;
}

header nav .cta {margin-left: 30px;}

header nav .cta button:last-child {margin-left: 20px;}