<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , max-scale=1.0,user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/footer.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/home.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/responsive.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/popup.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/home.js') }}"></script>
</head>
<header>
    <div class="header">
        <a href="#" class="logo" >@NBKRIST PAYMENTS</a>
        <div class="header-right">
            <a href="{{ url_for('admin.stureg') }}">Student Register</a>
            <a href="{{ url_for('Fee_app.signout') }}">Sign Out</a>
        </div>
    </div>

</header>

<body onload="myFunction()" style="margin:0;">
<div id="loader">

</div>
<div id="container" style="display:none;">
<div class="topnav">
  <div class="search-container">
    <form action="{{ url_for('admin.search') }}" method="post">
        <label>Search</label>
      <input type="text" placeholder="Search.." name="search" />
        <button type="submit" class="search1"><i><img src="{{ url_for('static',filename='/images/icons8-search-30.png') }}"/></i></button>
        <div class="header-right">
            <a href="{{ url_for('admin.accepted') }}">Accepted</a>
            <a href="{{ url_for('admin.rejected') }}">Rejected</a>
            <a href="{{ url_for('admin.admin_home') }}" class="refresh"><img src="{{ url_for('static',filename='/images/icons8-refresh-40.png') }}">Refresh</a>
        </div>
    </form></div>
  </div>
        <div class="scroll">
            <table class="table">
            <tr bgcolor="white">
                <th>REQUEST ID</th>
                <th>NAME</th>
                <th>ROLL NO</th>
                <th>DEPT</th>
                <th>AMOUNT</th>
                <th>UTR_NO</th>
                <th>CATEGORY</th>
                <th>DATE</th>
                <th>SCREENSHOTS</th>
                <th>ACTION</th>
            </tr>
                {% for data in status1 %}
                    <form method="post"  ><tr bgcolor="#7fffd4">
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    <td>{{ data[3] }}</td>
                    <td>{{ data[4] }}</td>
                    {% if data[8]!=0 %}
                    {% set path='../../static/uploadeddata/'+data[9] %}
                    {% else %}
                    {% set path='../static/uploadeddata/'+data[9] %}
                    {% endif %}
                    <img id="transImg" src="{{ path }}" style="display: none;"/>
                    <td><input id="utrno" class="urtno" type="number"  value="{{ data[5] }}" name="utrno" readonly/></td>
                    <td>{{ data[6] }}</td>
                    <td>{{ data[7] }}</td>
                        <td><a id="view" href="#">View</a></td>
                        {% if data[8]==0 %}
                            <td><button class="btn bg-success" formaction="{{url_for('admin.accept')}}" >Accept</button><button class="btn bg-danger" formaction="{{url_for('admin.deny')}}">Deny</button></td>
                        {% elif data[8]==1 %}
                            <td class="bg-success">Accepted<button class="btn bg-warning" formaction="{{url_for('admin.undo')}}">Undo</button></td>
                        {% else %}
                            <td class="bg-danger">Rejected</td>
                        {% endif %}

                    </tr></form>
                {% endfor %}
            </table>
        </div>
</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <img id="trans-img" style="width: 300px; border-radius: 10px;">
  </div>

</div>
</body>
<script>
// Get the modal
var modal = document.getElementById("myModal");
var tranImg=document.getElementById('trans-img');
var transImg=document.getElementById('transImg');
var utrno=document.getElementById('utrno').value;
// Get the button that opens the modal
var btn = document.getElementById("view");
var srclink=transImg.src;
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    tranImg.src=srclink;
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</html>