{% extends 'canteen/main.html' %}

{% block breakfast %}
    <br>
    <br><br><br>
<div class="row row1">
    <div class="col-lg-4">
        <img class="thumbnail" src="../../static/canteen/images/indian-1768906_640.jpg">
        <div class="box-element product">
            <h6><strong>DOSA</strong></h6>
            <hr>
            <button data-product=1234 data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <h4 style="display: inline-block;float:right">₹ 30</h4>
        </div>
    </div>
</div>
{% endblock %}