{% extends 'canteen/main.html' %}

{% block dinner %}
<div class="row row1">
    <div class="col-lg-4">
        <img class="thumbnail" src="../../static/canteen/images/veg.jpg">
        <div class="box-element product">
            <h6><strong>veg</strong></h6>
            <hr>
            <button data-product=1233 data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <h4 style="display: inline-block;float:right">₹ 50</h4>
        </div>
    </div>
</div>
{% endblock %}