<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 maximum-scale=1, minimum-scale=1"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='canteen/css/main.css') }}" />
    <title>Canteen Management</title>
    <script>

        //Create cart/cookies(Guest user)
      function getCookie(name) {
        var cookieArr = document.cookie.split(";")

        for (var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");

          if (name == cookiePair[0].trim()) {
            //Decode the cookie value
            return decodeURIComponent(cookiePair[1]);
          }
        }
        //Return null if not found
        return null;
      }


    var cart = JSON.parse(getCookie('cart'))
    if (cart == undefined) {
      cart = {}
      console.log('Cart was created')
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
    }

    console.log('Cart:', cart)

        
    </script>
    <style>
      .msg {
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
        font-family: Raleway;
      }
    </style>
  </head>
  <body>
 <!-- <header>
  <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="logo" ><h2><span></span>CONNECT CANTEEN</h2></div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul  class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-lg-0">
            {% if user %}
          <span class ='msg'>Hello,{{ name }} </span>
          <a href="{{ url_for('Fee_app.pay',amount=200,fee_name='Canteen')}}" class="butn my-2 my-sm-0">Wallet
          <span style="border: tomato solid 2px; border-radius: 10px; padding: 2px;">{{ wallet_bal }}</span></a>
                <a href="{{ url_for('canteen.cart') }}">
            <img id="cart-icon" alt="Cart_Icon" src="../../static/canteen/images/cart.png" />
          </a>
          <p id="cart-total">0</p>
          <a href="{{ url_for('Fee_app.signout') }}" class="my-2 my-sm-0">Sign Out</a>
              {% else %}
            <a href="{{ url_for('Fee_app.signout') }}" class="my-2 my-sm-0">Sign Out</a>
            {% endif %}
        </div>
      </div>
    </nav>
  </header>-->
 <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container1">
    <div class="logo" ><h2 onclick="location.href='{{ url_for('home.index') }}'"><span></span>CONNECT CANTEEN</h2></div>
        <nav class="slide" >
            <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul>
            {% if user %}
            <li><a class="name" href="#"> Hello,{{ name }} </a></li>
            <li><a href="{{ url_for('Fee_app.pay',amount=200,fee_name='Canteen')}}">Wallet
            <span style="border: tomato solid 2px; border-radius: 10px; padding: 2px;">{{ wallet_bal }}</span></a></li>
            <li><div class="form-inline">
                <a href="{{ url_for('canteen.cart') }}">
                    <img id="cart-icon" src="../../static/canteen/images/cart.png" /></a>
                    <p id="cart-total">0</p>
            </div></li>
            <li><a href="{{ url_for('Fee_app.signout') }}">Sign Out</a></li>
            {% else %}
            <li><a href="{{ url_for('Fee_app.signout') }}">Sign Out</a></li>
            {% endif %}
        </ul>
            </div>
    </nav>
    </div>
      </nav>

  </header>
  {% block content %}
  {% endblock %}
        {%block breakfast%}
    {% endblock %}

    {%block lunch%}
    {% endblock %}

    {%block dinner%}
    {% endblock %}

    {%block todayspl%}
    {% endblock %}

    {%block cart%}
    {% endblock %}
    {%block checkout%}
    {% endblock %}
  {% if not user %}
  {% block d %}
  {% endblock %}
  {% block view_product %}
  {% endblock %}
   {% block update_product %}
  {% endblock %}
  {% block delete_product %}
  {% endblock %}
  {% block add_product %}
  {% endblock %}
  {% endif %}
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>


    <script type="text/javascript" src="../../static/canteen/js/cart.js"></script>
  </body>
</html>
<!--<header>
      <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container1">
        <nav class="slide" >
            <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul>
            {% if user %}
            <li><a class="name" href="#"> Hello,{{ name }} </a></li>
            <li><a href="{{ url_for('Fee_app.pay',amount=200,fee_name='Canteen')}}">Wallet
            <span style="border: tomato solid 2px; border-radius: 10px; padding: 2px;">{{ wallet_bal }}</span></a></li>
            <li><div class="form-inline">
                <a href="{{ url_for('canteen.cart') }}">
                    <img id="cart-icon" src="../../static/canteen/images/cart.png" /></a>
                    <p id="cart-total">0</p>
            </div></li>
            <li><a href="{{ url_for('Fee_app.signout') }}">Sign Out</a></li>
            {% else %}
            <li><a href="{{ url_for('Fee_app.signout') }}">Sign Out</a></li>
            {% endif %}
        </ul>
            </div>
    </nav>
    </div>
      </nav>

  </header>-->
