<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Student Profile Page Design Example</title>
      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
<link rel="manifest" href="/static/favicon_io/site.webmanifest">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    
	    <link rel="stylesheet" href="../../static/academic/style/style.css">
</head>
<body>

<header >
    <div class="container">
      <div class="logo">
        <h2><span></span>Connect</h2>
      </div>

      <nav class="slide">
        <ul>
          <li><a href="#">Edit</a></li>
            <li><a href="#">Sign Out</a></li>

        </ul>
      </nav>
    </div>
  </header>

<section >
<!-- Student Profile -->
            <div class="student-profile">
              <div class="container">
                <div class="row">

                  <div class="col-lg-4">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent text-center">
                        <img class="profile_img" src="/static/academic/img/user_psolwi.png" alt="student dp">
                        <h3>Shaik Sameer</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-header bg-transparent border-0">
                            <h3 class="mb-0"><i class="far fa-clone pr-2"></i>General Information</h3>
                            </div>
                          <table class="table">
                              <tr>
                                <th width="30%">Roll No</th>
                                <td width="2%">:</td>
                                <td>19KB1A1244</td>
                              </tr>
                               <tr>
                                <th width="30%">Gender</th>
                                <td width="2%">:</td>
                                <td>Male</td>
                              </tr>
                              <tr>
                                <th width="30%">Blood Group</th>
                                <td width="2%">:</td>
                                <td>B+</td>
                              </tr>
                              <tr>
                                <th width="30%">Batch Year</th>
                                <td width="2%">:</td>
                                <td>2019-2023</td>
                              </tr>
                               <tr>
                                <th width="30%">Current Year</th>
                                <td width="2%">:</td>
                                <td>3<sup>rd</sup> Year</td>
                              </tr>
                              <tr>
                                <th width="30%">Current Semester</th>
                                <td width="2%">:</td>
                                <td>2<sup>nd</sup> Semester</td>
                              </tr>
                              <tr>
                                <th width="30%">CGPA</th>
                                <td width="2%">:</td>
                                <td>8.0</td>
                              </tr>
                              <tr>
                                <th width="30%">Attendance</th>
                                <td width="2%">:</td>
                                <td>95%</td>
                              </tr>
                            </table>
                      </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
                <ul>
                    <li><a>I Year - I Sem</a></li>
                    <li><a>I Year - II Sem</a></li>
                    <li><a>II Year - I Sem</a></li>
                    <li><a>II Year - II Sem</a></li>
                    <li><a>III Year - I Sem</a></li>
                    <li><a>III Year - II Sem</a></li>
                    <li><a>IV Year - I Sem</a></li>
                    <li><a>IV Year - I Sem</a></li>
                </ul>
          </div>
        </div>
          <br>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Syllabus</h3>
          <hr class="style-one">
            </div>
            <div class="card-body pt-0">
                <ul class="a">
                    <li><a>subject1</a></li>
                    <li><a>subject2</a></li>
                    <li><a>subject3</a></li>
                </ul>
            </div>
            <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Time Table</h3>
                <hr class="style-one">
                <div class="card-body pt-0">
          </div>
          </div>
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Subjects</h3>
                  <hr class="style-one">
                  <div class="card-body pt-0">
          </div>
                </div>
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Mid Marks</h3>
               <hr class="style-one">
                  <div class="card-body pt-0">
          </div>
                </div>
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Semester Marks</h3>
                 <hr class="style-one">
                  <div class="card-body pt-0">
          </div>
                </div>
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Achievements</h3>
                  <hr class="style-one">
                  <div class="card-body">
                      <button class="btn-outline-info rounded">Add</button>
          </div>
                </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
            </div>
</section>
     


    <!-- Analytics -->

	</body>
</html>