<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Student Profile Page Design Example</title>
      <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    
	    <link rel="stylesheet" href="../../static/academic/style/style.css">
</head>
<body>

<header >
    <div class="container">
      <div class="logo">
        <h2><span></span>Connect</h2>
      </div>

      <nav class="slide">
        <ul>
          <li><a href="#">Edit</a></li>
            <li><a href="{{ url_for('Fee_app.signout') }}">Sign Out</a></li>

        </ul>
      </nav>
    </div>
  </header>

<section >
<!-- Student Profile -->
            <div class="student-profile">
              <div class="container">
                <div class="row">

                  <div class="col-lg-4">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent text-center">
                        <img class="profile_img" src="/static/academic/img/user_psolwi.png" alt="student dp">
                        <h3>Shaik Sameer</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-header bg-transparent border-0">
                            <h3 class="mb-0"><i class="far fa-clone pr-2"></i>General Information</h3>
                            </div>
                          <table class="table">
                              <tr>
                                <th width="30%">Roll No</th>
                                <td width="2%">:</td>
                                <td>19KB1A1244</td>
                              </tr>
                               <tr>
                                <th width="30%">Gender</th>
                                <td width="2%">:</td>
                                <td>Male</td>
                              </tr>
                              <tr>
                                <th width="30%">Blood Group</th>
                                <td width="2%">:</td>
                                <td>B+</td>
                              </tr>
                              <tr>
                                <th width="30%">Batch Year</th>
                                <td width="2%">:</td>
                                <td>2019-2023</td>
                              </tr>
                               <tr>
                                <th width="30%">Current Year</th>
                                <td width="2%">:</td>
                                <td>3<sup>rd</sup> Year</td>
                              </tr>
                              <tr>
                                <th width="30%">Current Semester</th>
                                <td width="2%">:</td>
                                <td>2<sup>nd</sup> Semester</td>
                              </tr>
                              <tr>
                                <th width="30%">CGPA</th>
                                <td width="2%">:</td>
                                <td>8.0</td>
                              </tr>
                              <tr>
                                <th width="30%">Attendance</th>
                                <td width="2%">:</td>
                                <td>95%</td>
                              </tr>
                            </table>
                      </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
                <ul>
                    <li><a>I  - I Sem</a></li>
                    <li><a>I - II Sem</a></li>
                    <li><a>II - I Sem</a></li>
                    <li><a>II - II Sem</a></li>
                    <li><a>III - I Sem</a></li>
                    <li><a>III - II Sem</a></li>
                    <li><a>IV  - I Sem</a></li>
                    <li><a>IV  - I Sem</a></li>
                </ul>
          </div>
        </div>
          <br>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Syllabus</h3>
          <hr class="style-one">
            </div>
            <div class="card-body pt-0">
               <table class="table-striped table-bordered w-100 text-center">

                   <tr>
                       <th> COURSE ID</th>
                       <th>SUBJECT NAME</th>
                       <th> CREDITS</th>
                       <th> </th>

                   </tr>
                   <tr>
                       <td>19IT2201</td>
                       <td>WIRELESS NETWORKS (WN)</td>
                       <td>3</td>
                       <td><a href="#">view</a></td>
                   </tr>
                    <tr>
                       <td>19CS2202</td>
                       <td>CLOUD COMPUTING (CDC)</td>
                       <td>3</td>
                       <td><a href="#">view</a></td>
                   </tr>
                   <tr>
                       <td>19CS2203</td>
                       <td> ADVANCE DATABASE SYSTEMS (ADBS)</td>
                       <td>3</td>
                       <td><a href="#">view</a></td>
                   </tr>
                   <tr>
                       <td>19CS2204</td>
                       <td>MOBILE APPLICATION DEVELOPMENT (MAD)</td>
                       <td>4</td>
                       <td><a href="#">view</a></td>
                   </tr>
                   <tr>
                       <td>19CS2205</td>
                       <td>CRYPTOGRAPHY AND NETWORK SECURITY (CNS)</td>
                       <td>3</td>
                       <td><a href="#">view</a></td>
                   </tr>
                   <tr>
                       <td>19IT2203</td>
                       <td>CRYPTOGRAPHY AND NETWORK SECURITY LABORATORY</td>
                       <td>1.5</td>
                       <td><a href="#">view</a></td>
                   </tr>
               </table>
            </div>
            <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Time Table</h3>
                <hr class="style-one">
                <table class="table table-striped table-bordered">
         <thead>
            <tr>
               <td id="sub1">         </td>
               <td id="sub">8:30-9:30</td>
               <td id="sub">9:30-10:30</td>
               <td id="sub">10:30-11:30</td>
               <td id="sub">11:30-12:30</td>
               <td id="sub">12:30-1:30</td>
               <td id="sub">1:30-2:30</td>
               <td id="sub">2:30-3:30</td>
               <td id="sub">3:30-4:30</td>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td id="sub">MONDAY</td>
               <td id="blank">---</td>
               <td id="box1">SUB1</td>
               <td id="box2">SUB2</td>
               <td id="box3">SUB3</td>
               <td rowspan="6">L<br>U<br>N<br>C<br>H
               <td id="box4">SUB4</td>
               <td id="box5">SUB5</td>
               <td id="s">counselling class</td>
            </tr>
            <tr>
               <td id="sub">TUESDAY</td>
               <td id="box1">SUB1</td>
               <td id="box2">SUB2</td>
               <td id="box3">SUB3</td>
               <td id="blank">---</td>
               <td id="box2">SUB2</td>
               <td id="box2">SUB2</td>
               <td id="sub2">library</td>
            </tr>
            <tr>
               <td id="sub">WEDNESDAY</td>
               <td id="box1">SUB1</td>
               <td id="box2">SUB2</td>
               <td id="box5">SWA</td>
               <td id="blank">---</td>
               <td colspan="3"id="sub3" >LAB</td>
            </tr>
            <tr>
               <td id="sub">THURSDAY</td>
               <td id="box1">SUB1</td>
               <td id="box2">SUB2</td>
               <td id="box3">SUB3</td>
               <td id="blank">---</td>
               <td id="box2">SUB2</td>
               <td id="box2">SUB2</td>
               <td id="sub2">library</td>
            </tr>
            <tr>
               <td id="sub">FRIDAY</td>
               <td id="box1">SUB1</td>
               <td id="box2">SUB2</td>
               <td id="box3">SUB3</td>
               <td id="blank">---</td>
               <td id="box4">SUB4</td>
               <td id="box5">SUB5</td>
               <td id="sub2">library</td>
            </tr>
            <tr>
               <td id="sub">SATURDAY</td>
               <td id="box1">SUB1</td>
               <td colspan="3" id="seminar">seminar</td>
               <td id="box4">SUB4</td>
               <td id="box5">SUB5</td>
               <td id="sub2">library</td>
            </tr>
         </tbody>
      </table>
                <div class="card-body pt-0">
          </div>
          </div>

              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Mid Marks</h3>
               <hr class="style-one">
                  <div class="card-body pt-0">

          </div>
                </div>
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Semester Marks</h3>
                 <hr class="style-one">
                  <div class="card-body pt-0">
          </div>
                </div>
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Achievements</h3>
                  <hr class="style-one">
                  <div class="card-body">
                      <button class="btn-outline-info rounded">Add</button>
          </div>
                </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
            </div>
</section>
     


    <!-- Analytics -->

	</body>
</html>