<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , max-scale=1.0,user-scalable=no">
    <link rel="icon" type="image/x-icon" href="../static/feepay/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/footer.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/home.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/responsive.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/home.js') }}"></script>
</head>
<header>
    <div class="header">
        <a href="#" class="logo" >@NBKRIST PAYMENTS</a>
        <div class="header-right">
            <a class="name" href="#"> Hello,{{ name }} </a>
            <a href="{{ url_for('status.all_status') }}">Status</a>
            <a href="{{ url_for('Fee_app.signout') }}">Sign Out</a>
        </div>
    </div>

</header>

<body>
<div id="container">
    <button class="btn"><span class="btnf"> Student Wallet</span></button>
    <button class="btn"><span class="btnf" onclick="location.href='{{ url_for('home.FeePay') }}'"> Fee Payments</span></button>
    <button class="btn"><span class="btnf">Academic Details</span></button>
    <button class="btn" disabled style="cursor:not-allowed; " onclick=#"><span class="btnf"><s>Results</s></span></button>
</div>
<br>
<br>
<!--<div id="pay" style="display: none">
 {% block pay %}

 {% endblock %}
</div>-->
</body>

<div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
            </ul>
            <div class="social">
                <a><img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/></a>
                <a><img src="https://img.icons8.com/color/48/000000/youtube-play.png"/></a>
                <a><img src="https://img.icons8.com/fluency/48/000000/twitter.png"/></a>
                <a><img src="https://img.icons8.com/color/50/000000/instagram-new.png"/></a>
                <a><img src="https://img.icons8.com/fluency/48/000000/gmail-new.png"/></a>
            </div>
            <p class="copyright">IT Batch © 2021</p>
        </footer>
    </div>
</html>