{% extends 'pay.html' %}
{% block options %}


<body>
    <br>
    <div style="width: 50%; text-align: center; padding: 50px; margin: 20px auto;background-color: white;border-radius: 3px;box-shadow: 6px 2px 30px 0px rgba(168, 68, 102, 0.75);">
        <div class="card card-body d-inline-block">
        <button class="btn"><img src="/static/manual.png"> Manual</button>
            <button class="btn"><img src="/static/paytm%20(1).png"> Instant</button>
        </div>
    </div>
</body>
{% endblock %}